@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #dadada;
  font-family: Outfit;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  padding: 10px 20px;
  color: white;
}

.nav-country {
  display: flex;
  align-items: end;
  font-size: 13px;
  color: #c4c4c4;
}

.nav-country-name h1 {
  font-size: 14px;
  color: white;
}

.material-symbols-outlined {
  font-size: 20px;
}
.nav-search {
  display: flex;
  max-width: 1000px;
  border-radius: 4px;
  margin-left: 15px;
  align-items: center;
  background: white;
}

.nav-search-category {
  display: flex;
  background-color: #e5e5e5;
  color: grey;
  padding: 10px 20px;
  border-radius: 4px 0px 0px 4px;
}

.nav-search-input {
  border: none;
  outline: none;
  padding-left: 20px;
  width: 100%;
}

.search-icon {
  padding: 10px;
  background-color: #ffd64f;
  border-radius: 0px 4px 4px 0px;
  color: grey;
  height: 100%;
}

.nav-language {
  display: flex;
  align-items: center;
}

.nav-language p {
  margin-left: 2px;
}
.nav-bottom {
  padding: 8px 20px;
  background: #232f3e;
  font-size: 15px;
  color: white;
}
.nav-bottom div {
  display: flex;
  
}
